---
# Standalone playbook for getting device configuration
# Converted from itential_get_config role
#
# Usage:
#   ansible-playbook -i dynamic_inventory.py get_config_playbook.yml
#   cat inventory.json | ansible-playbook -i dynamic_inventory.py get_config_playbook.yml

- name: Get Configuration from Network Devices
  hosts: all
  gather_facts: no

  vars:
    # Supported network OS platforms
    supported_os:
      - ios
      - iosxr
      - asa
      - nxos
      - bigip
      - sros
      - eos
      - junos
      - aruba
      - cisco.ios.ios
      - cisco.iosxr.iosxr
      - cisco.asa.asa
      - cisco.nxos.nxos
      - arista.eos.eos
      - junipernetworks.junos.junos

    # OS decoder mapping
    os_decoder:
      'ios': 'ios'
      'iosxr': 'iosxr'
      'asa': 'asa'
      'nxos': 'nxos'
      'bigip': 'bigip'
      'sros': 'sros'
      'eos': 'eos'
      'junos': 'junos'
      'aruba': 'aruba'
      'cisco.ios.ios': 'ios'
      'cisco.iosxr.iosxr': 'iosxr'
      'cisco.asa.asa': 'asa'
      'cisco.nxos.nxos': 'nxos'
      'arista.eos.eos': 'eos'
      'junipernetworks.junos.junos': 'junos'

    # Default commands by platform
    default_commands:
      ios: "show running-config"
      iosxr: "show running-config"
      asa: "show running-config"
      nxos: "show running-config"
      bigip: "tmsh list ltm all"
      sros: "admin display-config"
      eos: "show running-config"
      junos: "show configuration"
      aruba: "show running-config"

  tasks:
    - name: Check if host is supported
      debug:
        msg: "Network OS: {{ ansible_network_os | default('not set') }}"

    - name: Get command from host vars or use default
      set_fact:
        config_command: "{{ device_command | default(default_commands[ansible_network_os]) }}"
      when: ansible_network_os in supported_os

    - name: Execute config command on IOS-XR devices
      cisco.iosxr.iosxr_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'iosxr'

    - name: Execute config command on IOS devices
      cisco.ios.ios_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'ios'

    - name: Execute config command on ASA devices
      cisco.asa.asa_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'asa'

    - name: Execute config command on NX-OS devices
      cisco.nxos.nxos_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'nxos'

    - name: Execute config command on EOS devices
      arista.eos.eos_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'eos'

    - name: Execute config command on Junos devices
      junipernetworks.junos.junos_command:
        commands: "{{ config_command }}"
      register: config_results
      when:
        - ansible_network_os == 'junos'

    - name: Extract and output configuration
      get_config_output:
        config_results: "{{ config_results }}"
        platform: "{{ os_decoder[ansible_network_os] }}"
      when:
        - config_results.stdout is defined
        - config_results.stdout | length > 0
