---
- name: Check Device Connectivity (Is Alive)
  hosts: all
  gather_facts: no

  vars:
    supported_os:
      - ios
      - iosxr
      - asa
      - nxos
      - bigip
      - sros
      - eos
      - junos
      - aruba
      - cisco.ios.ios
      - cisco.iosxr.iosxr
      - cisco.asa.asa
      - cisco.nxos.nxos
      - arista.eos.eos
      - junipernetworks.junos.junos

    os_decoder:
      'ios': 'ios'
      'iosxr': 'iosxr'
      'asa': 'asa'
      'nxos': 'nxos'
      'bigip': 'bigip'
      'sros': 'sros'
      'eos': 'eos'
      'junos': 'junos'
      'aruba': 'aruba'
      'cisco.ios.ios': 'ios'
      'cisco.iosxr.iosxr': 'iosxr'
      'cisco.asa.asa': 'asa'
      'cisco.nxos.nxos': 'nxos'
      'arista.eos.eos': 'eos'
      'junipernetworks.junos.junos': 'junos'

  tasks:
    - name: Check if device OS is supported
      set_fact:
        is_supported: "{{ ansible_network_os | default(None) in supported_os }}"

    - name: Execute show version on IOS devices
      cisco.ios.ios_command:
        commands: "show version"
      register: ios_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'ios'
      ignore_errors: yes

    - name: Execute show version on IOS-XR devices
      cisco.iosxr.iosxr_command:
        commands: "show version"
      register: iosxr_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'iosxr'

    - name: Execute show version on ASA devices
      cisco.asa.asa_command:
        commands: "show version"
      register: asa_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'asa'
      ignore_errors: yes

    - name: Execute show version on NX-OS devices
      cisco.nxos.nxos_command:
        commands: "show version"
      register: nxos_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'nxos'
      ignore_errors: yes

    - name: Execute show version on EOS devices
      arista.eos.eos_command:
        commands: "show version"
      register: eos_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'eos'
      ignore_errors: yes

    - name: Execute show version on Junos devices
      junipernetworks.junos.junos_command:
        commands: "show version"
      register: junos_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'junos'
      ignore_errors: yes

    - name: Execute tmsh show sys version on BigIP devices
      f5networks.f5_modules.bigip_command:
        commands: "show sys version"
      register: bigip_state_result
      when:
        - is_supported | bool
        - os_decoder[ansible_network_os] == 'bigip'
      ignore_errors: yes

    # Note: SR OS and Aruba require additional collections that may not be available
    # SR OS: nokia.sros or community.network (if available)
    # Aruba: arubanetworks.aoscx or arubanetworks.aos_switch
    # These tasks are commented out to avoid playbook syntax errors
    # Uncomment and update when the appropriate collections are installed

    # - name: Execute show version on SR OS devices
    #   community.network.sros_command:
    #     commands: "show version"
    #   register: sros_state_result
    #   when:
    #     - is_supported | bool
    #     - os_decoder[ansible_network_os] == 'sros'
    #   ignore_errors: yes

    # - name: Execute show version on Aruba devices
    #   arubanetworks.aoscx.aoscx_command:
    #     commands: ["show version"]
    #   register: aruba_state_result
    #   when:
    #     - is_supported | bool
    #     - os_decoder[ansible_network_os] == 'aruba'
    #   ignore_errors: yes

    - name: Set state_result based on platform
      set_fact:
        state_result: "{{
          iosxr_state_result if os_decoder[ansible_network_os] == 'iosxr' else
          ios_state_result if os_decoder[ansible_network_os] == 'ios' else
          asa_state_result if os_decoder[ansible_network_os] == 'asa' else
          nxos_state_result if os_decoder[ansible_network_os] == 'nxos' else
          eos_state_result if os_decoder[ansible_network_os] == 'eos' else
          junos_state_result if os_decoder[ansible_network_os] == 'junos' else
          bigip_state_result if os_decoder[ansible_network_os] == 'bigip' else
          {} }}"
      when: is_supported | bool

    - name: Set alive status based on command result
      set_fact:
        device_alive: "{{ state_result is defined and not state_result.get('skipped', False) and not state_result.get('failed', False) }}"
      when: is_supported | bool

    - name: Set alive status to false for unsupported OS
      set_fact:
        device_alive: false
      when: not (is_supported | bool)
